@use 'sass:math';


// Extends
%flex-default {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

%flex-child {
  margin: 0 15px;
}


// Mixins
@mixin close-default($top, $right, $size, $weight) {
  position: absolute;
  top: $top + px;
  right: $right + px;
  width: $size + px;
  height: $size + px;
  background: transparent;
  opacity: 0.8;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }

  &:before, 
  &:after {
    position: absolute;
    top: -20%;
    left: 45%;
    height: math.sqrt(2 * math.pow($size, 2)) *  1px;
    width: $weight;
    content: ' ';
    background: #2B2D3A;
  }

  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}


// Styles
html {
  overflow-x: hidden;
  font-family: "Montserrat";
  font-style: normal;
  color: #2B2D3A;
  letter-spacing: 0em;


  header {
    @extend %flex-default;
    position: sticky;
    z-index: 10;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 96px;
    background: #EBEEF5;

    span {
      @extend %flex-child;
    }

    a.logo {
      height: 32px;
    }

    nav ul {
      @extend %flex-default;
      margin: 0 7.5px;
      color: rgba(43, 45, 58, 0.7);

      li {
        @extend %flex-child;
        position: relative;
        margin: 0 16.5px;
        list-style-type: none;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        cursor: pointer;

        &:after {
          position: absolute;
          left: 0;
          bottom: -39px;
          content: '';
          width: 100%;
          height: 4px;
          background: transparent;
          border-radius: 6px;
          transition: 0.2s;
        }

        &:hover:after,
        &.active:after {
          background: #397DFF;
        }
      }
    }

    span.mail {
      @extend %flex-default;
      margin: 0 -5px;

      img.mail-icon {
        margin: 0 5px;        
      }

      span.mail-text {
        margin: 0 5px;
        font-size: 13px;
        font-weight: 600;
        line-height: 16px;
      }
    }

    span.phone {
      display: grid;
      grid-template-areas: "icon desc"
                           "icon number";
      margin-left: 24px;

      img.phone-icon {
        grid-area: icon;
        margin: 2px 10px 2px 0;
      }

      div.phone-text-desc {
        grid-area: desc;
        color: #397DFF;
        font-size: 10px;
        line-height: 10px;
      }

      div.phone-text-number {
        grid-area: number;
        margin-top: 4px;
        font-size: 13px;
        font-weight: 600;
        line-height: 16px;
      }
    }
  }


  section.slider {
    position: relative;
    width: 100%;
    height: 624px;
    -webkit-transition: background 0.6s ease-in-out;
            transition: background 0.6s ease-in-out;

    div.static-container {
      position: absolute;
      top: 20%;
      left: 20%;
      width: 31%;
      color: white;

      div.trend {
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
      }

      h1 {
        margin: 12px 0 24px -3px;
        font-size: 52px;
        font-weight: 600;
        line-height: 63px;
        text-align: left;
      }

      div.description {
        width: 94%;
        opacity: 0.8;
        font-size: 16px;
        font-weight: 500;
        line-height: 148%;
      }

      button.back-call,
      button.fill-out-brief {
        width: 186px;
        height: 48px;
        margin: 54px 24px 0 0;
        padding: 0;
        color: white;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        border-radius: 8px;
        cursor: pointer;
      }

      button.back-call {
        background: transparent;
        border: 1px solid white;
        box-sizing: border-box;
      }

      button.fill-out-brief {
        background: #397DFF;
        border: none;
      }
    }

    div.dynamic-container {
      position: absolute;
      top: 34%;
      left: calc(100% - 520px);
      width: 520px;
      height: 33%;
      overflow-x: hidden;

      div.slides-container {
        width: 1895px;
        display: flex;

        div.slide {
          width: 340px;
          height: 100%;
          margin-right: 38px;
          opacity: 0.3;
          border-right: 1px solid rgba(255, 255, 255, 0.1);

          &.active {
            opacity: 1;
          }

          div.number {
            font-size: 64px;
            font-weight: bold;
            line-height: 78px;
            letter-spacing: 0.02em;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: #397DFF;
          }

          div.description {
            font-size: 14px;
            font-weight: normal;
            line-height: 160%;
            color: white;
            opacity: 0.7;
          }
        }
      }
    }

    div.arrows-container {
      position: absolute;
      top: 70%;
      left: calc(100% - 520px);
      display: flex;
      justify-content: space-between;
      width: 106px;
      height: 32px;

      button.prev-slide,
      button.next-slide {
        position: relative;
        width: 32px;
        height: 32px;
        border: none;
        border-radius: 50%;
        transition: 0.2s;
        background: #397DFF;
        cursor: pointer;

        &:after {
          position: absolute;
          top: 9px;
          content: '';
          display: block;
          width: 12px;
          height: 12px;
          border-left: 1px solid white;
          border-bottom: 1px solid white;
          border-radius: 1px;
          transition: 0.2s;
        }

        &:hover {
          background: #0049d1;
        }
      }

      button.prev-slide:after {
        right: 7px;
        transform: rotate(45deg);
      }

      button.next-slide:after {
        left: 7px;
        transform: rotate(-135deg);
      }
    }
  }

  section.block {
    position: relative;
    width: 100%;
    height: 620px;
    margin: 120px 0;

    div.img-container {
      display: inline-block;
      width: 50%;
      height: 100%;

      img.block-img {
        width: 100%;
      }
    }

    div.tool-tip {
      @extend %flex-default;
      position: absolute;
      top: 11%;
      right: 37.2%;
      height: 60px;
      width: 60px;
      background: rgba(57, 125, 255, 0.2);
      border: 1px solid #397DFF;
      border-radius: 50%;
      box-sizing: border-box;

      .block {
        position: absolute;
        bottom: 52px;
        width: 352px;
        height: 180px;
        background: #FFFFFF;
        color: #2B2D3A;
        border-radius: 10px;
        box-shadow: -10px 16px 32px rgba(17, 17, 17, 0.12);
        transition: 0.5s;

        &:after {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: -21px;
          content: '';
          border: 10px solid transparent;
          border-top: 12px solid white;
        }

        .block-name {
          margin: 16px 0 8px 24px;
          font-size: 18px;
          font-weight: 500;
          line-height: 132%;
        }

        ul {
          margin: -5px 0;
          padding-left: 24px;
          display: flex;
          flex-direction: column;
          // list-style-image: url("main/svg/marker.svg");
          list-style-type: none;

          li {
            background: url("main/svg/marker.svg") no-repeat left center;
            padding-left: 24px;
            height: 16px;
            margin: 5px 0;
            font-size: 12px;
            font-weight: normal;
            line-height: 142%;
          }
        }

        .mixer-icon {
          position: absolute;
          top: 10px;
          right: 28px;
        }

        .close {
          position: absolute;
          right: 12px;
          top: 12px;
          width: 12px;
          height: 12px;
          background: transparent;
          opacity: 0.8;
          border: none;
          cursor: pointer;

          &:hover {
            opacity: 1;
          }

          &:before, 
          &:after {
            position: absolute;
            top: -2px;
            left: 6px;
            height: 17px;
            width: 0.75px;
            content: ' ';
            background: #2B2D3A;
          }

          &:before {
            transform: rotate(45deg);
          }
          &:after {
            transform: rotate(-45deg);
          }
        }
      }

      button.open {
        z-index: 1;
        height: 26px;
        width: 26px;
        background: #397DFF;
        color: white;
        font-size: 18px;
        border: none;
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }
}

