@use 'sass:math';


// Extends
%flex-default {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

%flex-child {
  margin: 0 15px;
}


// Mixins
@mixin close-default($top, $right, $size, $weight) {
  position: absolute;
  top: $top + px;
  right: $right + px;
  width: $size + px;
  height: $size + px;
  background: transparent;
  opacity: 0.8;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }

  &:before, 
  &:after {
    position: absolute;
    top: -20%;
    left: 45%;
    height: math.sqrt(2 * math.pow($size, 2)) *  1px;
    width: $weight;
    content: ' ';
    background: #2B2D3A;
  }

  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}


// Styles
html {
  overflow-x: hidden;
  font-family: "Montserrat";
  font-style: normal;
  color: #2B2D3A;
  letter-spacing: 0em;


  header {
    @extend %flex-default;
    position: sticky;
    z-index: 10;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 96px;
    background: #EBEEF5;

    span {
      @extend %flex-child;
    }

    a.logo {
      height: 32px;
    }

    button.menu-toggler {
      display: none;
    }

    div.menu {
      @extend %flex-default;
      margin: 0 7.5px;

      nav ul {
        @extend %flex-default;

        a {
          text-decoration: none;

          object {
            display: none;
          }

          li {
            @extend %flex-child;
            position: relative;
            margin: 0 16.5px;
            list-style-type: none;
            color: rgba(43, 45, 58, 0.7);
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            cursor: pointer;

            &.active {
              font-weight: 600;
              color: #397DFF;
            }

            &:after {
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
              bottom: -39px;
              content: '';
              width: 80%;
              height: 4px;
              background: transparent;
              border-radius: 6px;
              transition: 0.2s;
            }

            &:hover:after,
            &.active:after {
              background: #397DFF;
            }
          }        
        }
      }

      span.mail {
        @extend %flex-default;
        margin: 0 -5px;

        div.mail-text-desc {
          display: none;
        }

        img.mail-icon {
          margin: 0 5px;
        }

        span.mail-text {
          margin: 0 5px;
          font-size: 13px;
          font-weight: 600;
          line-height: 16px;
        }
      }

      span.phone {
        display: grid;
        grid-template-areas: "icon desc"
                             "icon number";
        margin-left: 20px;
        padding: 4px;
        border: 1px solid transparent;
        border-radius: 6px;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
          border: 1px solid #397DFF;
        }

        img.phone-icon {
          grid-area: icon;
          margin: 2px 10px 2px 0;
        }

        div.phone-text-desc {
          grid-area: desc;
          color: #397DFF;
          font-size: 10px;
          line-height: 10px;
        }

        div.phone-text-number {
          grid-area: number;
          margin-top: 4px;
          font-size: 13px;
          font-weight: 600;
          line-height: 16px;
        }
      }

      button.fill-out-brief {
        display: none;
      }      
    }
  }


  section.slider {
    position: relative;
    width: 100%;
    height: 624px;
    display: flex;
    justify-content: space-between;
    // -webkit-transition: background 0.6s ease-in-out;
    //         transition: background 0.6s ease-in-out;

    div.slider-background-img {
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      transition: 0.6s;

      &.img-0 {
        background-image: url(main/slider/images/slider-img-0-dt.jpg);
      }

      &.img-1 {
        background-image: url(main/slider/images/slider-img-1-dt.jpg);
      }
    }

    div.static-container {
      width: 590px;
      margin: 123px auto 0 auto;
      color: white;

      div.trend {
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
      }

      h1 {
        margin: 12px 0 24px -3px;
        font-size: 52px;
        font-weight: 600;
        line-height: 63px;
        text-align: left;
      }

      div.description {
        width: 94%;
        opacity: 0.8;
        font-size: 16px;
        font-weight: 500;
        line-height: 148%;
      }

      button.back-call,
      button.fill-out-brief {
        width: 186px;
        height: 48px;
        margin: 54px 24px 0 0;
        padding: 0;
        color: white;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        border-radius: 8px;
        cursor: pointer;
        transition: 0.2s;
      }

      button.back-call {
        margin: 52px 12px auto auto;
        background: transparent;
        border: 1px solid white;
        box-sizing: border-box;

        &:hover {
          border: 1px solid #397dff;
        }
      }

      button.fill-out-brief {
        margin: 54px auto auto 12px;
        background: #397DFF;
        border: none;

        &:hover {
          background: #055dff;
        }
      }
    }

    div.dynamic-container {
      position: absolute;
      top: 34%;
      left: calc(100% - 520px);
      width: 520px;
      height: 33%;
      overflow-x: hidden;

      div.slides-container {
        width: 1895px;
        display: flex;

        div.slide {
          width: 340px;
          height: 100%;
          margin-right: 38px;
          opacity: 0.3;
          border-right: 1px solid rgba(255, 255, 255, 0.1);

          &.active {
            opacity: 1;
          }

          div.number {
            font-size: 64px;
            font-weight: bold;
            line-height: 78px;
            letter-spacing: 0.02em;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: #397DFF;
          }

          div.description {
            font-size: 14px;
            font-weight: normal;
            line-height: 160%;
            color: white;
            opacity: 0.7;
          }
        }
      }
    }

    div.arrows-container {
      position: absolute;
      top: 70%;
      left: calc(100% - 520px);
      display: flex;
      justify-content: space-between;
      width: 106px;
      height: 32px;

      button.prev-slide,
      button.next-slide {
        position: relative;
        width: 32px;
        height: 32px;
        border: none;
        border-radius: 50%;
        transition: 0.2s;
        background: #397DFF;
        cursor: pointer;

        &:after {
          position: absolute;
          top: 9px;
          content: '';
          display: block;
          width: 12px;
          height: 12px;
          border-left: 1px solid white;
          border-bottom: 1px solid white;
          border-radius: 1px;
          transition: 0.2s;
        }

        &:hover {
          background: #055dff;
        }
      }

      button.prev-slide:after {
        right: 7px;
        transform: rotate(45deg);
      }

      button.next-slide:after {
        left: 7px;
        transform: rotate(-135deg);
      }
    }
  }

  section.block {
    position: relative;
    width: 100%;
    height: 32.3vw;
    margin: 6.25vw 0;

    div.img-container {
      display: inline-block;
      width: 50%;
      height: 100%;
      background-size: cover;

      &.img-0 {
        background-image: url(main/block/images/block-img-0-dt.jpg);
      }

      &.img-1 {
        background-image: url(main/block/images/block-img-1-dt.jpg);
      }
    }

    div.tool-tip {
      @extend %flex-default;
      position: absolute;
      top: calc(15.5% - 30px);
      right: calc(38.9% - 30px);
      height: 60px;
      width: 60px;
      background: rgba(57, 125, 255, 0.2);
      border: 1px solid #397DFF;
      border-radius: 50%;
      box-sizing: border-box;
      transition: 0.2s;

      &:hover {
        background: rgba(5, 93, 255, 0.2);
        border-color: #055dff;
      }

      .block {
        position: absolute;
        bottom: 52px;
        width: 352px;
        height: 180px;
        background: #FFFFFF;
        color: #2B2D3A;
        border-radius: 10px;
        box-shadow: -10px 16px 32px rgba(17, 17, 17, 0.12);
        transition: 0.5s;

        &:after {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: -21px;
          content: '';
          border: 10px solid transparent;
          border-top: 12px solid white;
        }

        .block-name {
          margin: 16px 0 8px 24px;
          font-size: 18px;
          font-weight: 500;
          line-height: 132%;
        }

        ul {
          margin: -5px 0;
          padding-left: 24px;
          display: flex;
          flex-direction: column;
          // list-style-image: url("main/svg/marker.svg");
          list-style-type: none;

          li {
            background: url("main/svg/marker.svg") no-repeat left center;
            padding-left: 24px;
            height: 16px;
            margin: 5px 0;
            font-size: 12px;
            font-weight: normal;
            line-height: 142%;
          }
        }

        img.mixer-icon {
          position: absolute;
          top: 10px;
          right: 28px;
        }

        button.close {
          @include close-default(12, 12, 12, 1px);
        }
      }

      button.open {
        z-index: 1;
        height: 26px;
        width: 26px;
        background: #397DFF;
        color: white;
        font-size: 18px;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
          background: #055dff;
        }
      }
    }
  }

  div.pop-up-call {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 538px;
    height: 408px;
    padding: 30px 42px 48px 42px;
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius: 16px;
    transition: 0.5s;

    div.question {
      height: 32px;
      margin-bottom: 12px;
      font-size: 24px;
      font-weight: 600;
      line-height: 132%;
    }

    div.description {
      height: 22px;
      margin-bottom: 16px;
      font-size: 16px;
      font-weight: normal;
      line-height: 160%;
    }

    input {
      width: 454px;
      height: 48px;
      margin: 12px 0;
      padding: 15px;
      font-family: "Montserrat";
      font-size: 16px;
      font-weight: normal;
      line-height: 114%;
      border: 1px solid rgba(0, 0, 0, 0.2);
      box-sizing: border-box;
      border-radius: 9px;

      &::placeholder {
        color: #2B2D3A;
        opacity: 0.5;
      }

      &:hover,
      &:focus {
        padding: 14px;
        border: 2px solid #397DFF; 
      }

      &:focus {
        outline: none;
      }

      &[type="submit"] {
        height: 52px;
        padding: 0;
        color: white;
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        background: #397DFF;
        border: none;
        border-radius: 8px;
      }
    }

    div.personalInfo {
      position: relative;
      display: flex;
      align-items: center;
      height: 40px;
      padding: 20px 0 4px 0;
      box-sizing: border-box;

      div.fake-checkbox {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 8px;
        background-image: url(svg/check_inactive.svg);
        border: none;
        box-sizing: border-box;
        border-radius: 3px;
        cursor: pointer;

        &:hover {
          background-image: url(svg/check_hover.svg);
        }

        &.active {
          background-image: url(svg/check_active.svg);
        }
      }

      input[type="checkbox"] {
        display: none;
      }

      span.description {
        height: 16px;
        font-size: 14px;
        font-weight: normal;
        line-height: 17px;

        a {
          color: #397DFF;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    button.close {
      @include close-default(16, 24, 18, 2px);
    }
  }
}


@media screen and (max-width: 1365px) {
  html {
    header {

      div.menu {

        span.phone {
          display: none;
        }
      }
    }
  }  
}

@media screen and (max-width: 1024px) {
  html {
    header {
      height: 100px;

      a.logo {;
        position: absolute;
        left: 32px;
      }

      button.menu-toggler {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 32px;
        display: inline-block;
        width: 24px;
        height: 24px;
        padding: 0;
        border: none;
        cursor: pointer;

        &.open {
          background: transparent url("header/svg/menu_open_icon.svg");
        }
        
        &.close {
          background: transparent url("header/svg/menu_close_icon.svg");
        }
      }

      div.menu {
        position: absolute;
        top: 100px;
        display: none;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
        width: 100%;
        height: calc(100vh - 100px);
        background: #EBEEF5;
        transition: 0.2s;

        nav {
          width: inherit;
          height: 528px;

          ul {
            position: absolute;
            top: 0;
            margin: 0;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            width: inherit;
            height: inherit;

            a {
              display: flex;
              align-items: center;
              width: calc(100% - 64px);
              height: 88px;
              margin: 0 32px;
              padding: 32px 0;
              border-bottom: 1px solid rgba(43, 45, 58, 0.1);
              box-sizing: border-box;

              object {
                display: inline-block;
                width: 24px;
                height: 24px;

                svg {
                  fill: #397DFF;
                }

                &.active svg path {
                  fill: #397DFF;
                }
              }

              li {
                margin: 0 24px;
                color: #2B2D3A;
                font-size: 20px;
                font-weight: 500;
                line-height: 24px;

                &:after {
                  display: none;
                }
              }
            }
          }
        }

        button.fill-out-brief {
          display: block;
          width: 270px;
          height: 46px;
          margin: 42px 0 48px 32px;
          padding: 0;
          background: #397DFF;
          color: white;
          font-size: 18px;
          font-weight: 500;
          line-height: 22px;
          border: none;
          border-radius: 6px;
          box-shadow: 0px 5.12px 20.48px rgba(85, 104, 255, 0.12);
        }

        span.mail {
          margin-left: 32px;
          display: grid;
          grid-template-areas: "desc desc"
                               "icon mail";


          div.mail-text-desc {
            grid-area: desc;
            margin-bottom: 17px;
            display: block;
            font-size: 24px;
            font-weight: 500;
            line-height: 29px; 
          }

          img.mail-icon {
            grid-area: icon;
            width: 28px;
            height: 28px;
            margin: 0 8px 0 0;
          }

          span.mail-text {
            grid-area: mail;
            margin: 0 0 0 8px;
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
            color: #397DFF;
          }
        }
      }
    }
  }  
}


@media screen and (max-width: 768px) {
  html {
    header {
      height: calc(9.8vw + 25px);

      a.logo {
        left: calc(3.6vw + 4.6px);
      }

      div.menu {
        top: calc(9.8vw + 25px);
        height: calc(100vh - 9.8vw - 25px);

        nav {
          height: calc(6 * (7.1vw + 33px));

          ul {

            a {
              width: calc(100% - 32px);
              height: calc(7.1vw + 33px);
              margin: 0 calc(3.6vw + 4.6px);
              padding: calc(3.6vw + 4.6px) 0;

              li {
                font-size: calc(1.34vw + 9.7px);
                line-height: calc(1.56vw + 12px);
              }
            }
          }
        }

        button.fill-out-brief {
          margin: calc(2.23vw + 25px) 0 calc(5.8vw - 2.6px) calc(3.6vw + 4.6px);
          font-size: 16px;
          line-height: 20px;
        }

        span.mail {
          margin-left: calc(3.6vw + 4.6px);
        }
      }
    }

    section.slider {
      height: 410px;

      div.slider-background-img {

        &.img-0 {
          background-image: url(main/slider/images/slider-img-0-t.jpg);
        }

        &.img-1 {
          background-image: url(main/slider/images/slider-img-1-t.jpg);
        }
      }

      div.static-container {
        margin: 72px auto auto calc(3.6vw + 4.6px);

        div.trend {
          font-size: calc(0.45vw + 10.6px);
          font-weight: normal;
          line-height: 17px;
        }

        h1 {
          margin: calc(0.44vw + 12.6px) 0 calc(1.8vw + 10.3px) -3px;
          font-size: calc(5.35vw + 7px);
          line-height: calc(7.8vw - 1px);
        }

        div.description {
          font-size: calc(0.45vw + 10.6px);
        }

        button.back-call,
        button.fill-out-brief {
          width: calc(50% - 12px);
          max-width: 136px;
          height: calc(2.2vw + 29px);
          font-size: calc(0.45vw + 10.6px);
          font-weight: normal;
          line-height: 17px;
        }

        button.back-call {
          margin: 46px calc(0.9vw + 5px) auto auto;
        }

        button.fill-out-brief {
          margin: 46px auto auto calc(0.9vw + 5px);
        }
      }
    }

    section.block {
      height: 52.2vw;
      margin: 8.85vw 0;

      div.img-container {

        &.img-0 {
          background-image: url(main/block/images/block-img-0-t.jpg);
        }

        &.img-1 {
          background-image: url(main/block/images/block-img-1-t.jpg);
        }
      }

      div.tool-tip {
        $size: calc(4.46vw + 25.7px);

        top: calc(13% - 0.5 * (4.46vw + 25.7px));
        right: calc(42.4% - 0.5 * (4.46vw + 25.7px));
        width: $size;
        height: $size;

        button.open {
          $size: calc(1.94vw + 11.1px);

          width: $size;
          height: $size;
          font-size: calc(0.9vw + 9.1px);
        }
      }
    }
  }
}


@media screen and (max-width: 420px) {
  html {

    header {

      div.menu {

        span.mail {

          div.mail-text-desc {
            font-size: 22px;
            line-height: 27px;
          }

          span.mail-text {
            font-size: 18px;
            line-height: 22px;
          }
        }
      }
    }

    section.block {

      div.tool-tip {

        div.block {
          left: -445%;

          img.mixer-icon {
            width: 38px;
            height: 38px;
            top: 18px;
            right: 44px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  html {
    header {
      height: 56px;

      a.logo {
        left: 16px;
      }

      button.menu {
        right: 16px;
      }

      div.menu {
        top: 56px;
        height: 430px;

        nav {
          height: 336px;

          ul {

            a {
              width: calc(100% - 32px);
              height: 56px;
              margin: 0 16px;
              padding: 16px 0;

              li {
                font-size: 14px;
                line-height: 17px;
              }
            }
          }
        }

        button.fill-out-brief {
          margin: 32px 16px 16px 16px;
          width: 90%;
        }

        span.mail {
          display: none;
        }
      }
    }

    section.slider {
      height: 286px;

      div.slider-background-img {

        &.img-0 {
          background-image: url(main/slider/images/slider-img-0-m.jpg);
        }

        &.img-1 {
          background-image: url(main/slider/images/slider-img-1-m.jpg);
        }
      }

      div.static-container {
        margin: 24px 16px auto 16px;

        div.trend {
          font-size: 12px;
          line-height: 14px;
        }

        h1 {
          margin: 14px 0 16px -3px;
          font-size: 24px;
          line-height: 100%;
        }

        div.description {
          font-size: 12px;
        }

        button.back-call,
        button.fill-out-brief {
          width: calc(50% - 8px);
          height: 36px;
          font-size: 12px;
          line-height: 15px;
        }

        button.back-call {
          margin: 24px 8px auto auto;
        }

        button.fill-out-brief {
          margin: 24px auto auto 8px;
        }
      }
    }

    section.block {
      height: 62.5vw;
      margin: 13.1vw 0;

      div.img-container {

        &.img-0 {
          background-image: url(main/block/images/block-img-0-m.jpg);
        }

        &.img-1 {
          background-image: url(main/block/images/block-img-1-m.jpg);
        }
      }
    }
  }
}